.divider_lg{
  margin: 0 auto;
  border: none;
  width: 195px;
  height: 6px;
  background-color: $dark;
}
.divider_sm{
  margin: 0 auto;
  border: none;
  width: 77px;
  height:2px;
  background-color: $dark;
}