section.advant-section(style="background:url('src/img/bg-img.svg')") 
  .container 
    .row 
      .col-lg-12 
        h2.advant-section__title| ПРЕИМУЩЕСТВА ПРИЛОЖЕНИЯ 
  hr.divider
  .container 
    .row.justify-content-lg-between 
      include ../mixins/advant-card.pug 
      +advant-card(
        "src/img/clocks.svg",
        "Быстро",
        "Ни каких очередей и ожиданий. Платите и передавайте показания онлайн! Сохраните свою карту и оплачивайте еще быстрее!"
      ) 
      +advant-card(
        "src/img/mobile.svg",
        "Удобно",
        "Не нужно вводить лицевой счет - платите по адресу Оплата по нескольким адресам, история ваших платежей и удобный сканер счетчика у вас в кармане"
      ) 
      +advant-card(
        "src/img/pig.svg",
        "Бесплатно",
        "Приложение абсолютно бесплатно, кроме того с вас не взъимается никакой комиссии за платежи"
      )  
      

