section#advant-section.advant-section(style="background:url('src/img/bg-img.svg')") 
  .container 
    .row 
      .col-lg-12.d-flex.justify-content-center 
        h2.advant-section__title.title_lg.dark| ПРЕИМУЩЕСТВА ПРИЛОЖЕНИЯ 
  hr.divider_lg
  .container 
    .row.justify-content-lg-between 
      include ../mixins/advant-card.pug 
      +advant-card(
        "./img/clocks.svg",
        "Быстро",
        "Ни каких очередей и ожиданий. Платите и передавайте показания онлайн! Сохраните свою карту и оплачивайте еще быстрее!"
      ) 
      +advant-card(
        "./img/mobile.svg",
        "Удобно",
        "Не нужно вводить лицевой счет - платите по адресу Оплата по нескольким адресам, история ваших платежей и удобный сканер счетчика у вас в кармане"
      ) 
      +advant-card(
        "./img/pig.svg",
        "Бесплатно",
        "Приложение абсолютно бесплатно, кроме того с вас не взъимается никакой комиссии за платежи"
      )
  a.advant-section__arrow-wrap(href="#download-section")
     
    span.advant-section__arrow.dark|> 
    
      

