section.terms-section   
  .container 
    .row 
      .col-lg-12 
        h2.terms-section__tittle| Условия акции
  hr.divider
  .container 
    .row 
      .col-lg-6
        .terms-section__img-wrap  
          img.terms-section__img(src="src/img/iPhone.png", alt="iPhone и Платосфера - идеальная пара")
      .col-lg-5 
        .terms-section__terms-wrap
          include ../mixins/terms-card.pug
          +terms-card("src/img/like.svg")
          
          

