@import './download-card.scss';
.download-section{
  padding-bottom: 60px;
  &__title{
    margin: 50px auto;
  }
  &__social-wrap{
    margin-top: 116px;
  }

  &__img{
    width: 80px;
  }
  &__footer{
    margin-top: 45px;
  }
  &__footer-text{
    text-align: center;
  }
}