mixin advant-card(img_url="#", title="title", paragraph="some text") 
  .col-lg-4 
    .advant-card__wrap 
      h3.advant-card__title=title 
      hr.divider_xs
      img.advant-card__img(src=img_url, alt="Иконка")
      p.advant-card__paragraph= paragraph
      a.advant-card__btn(href="#")| Попробовать сейчас

      