mixin terms-card(img_url="#", title= "test", paragraph="test")
  .terms-card   
    .terms-card__img-wrap
      .terms-card__circle
      img.terms-card__img(src=img_url, alt='Иконка') 
    .terms-card__text-wrap 
      h1.terms-card__title.title_sm.dark= title         
      p.terms-card__paragraph.paragraph_md.dark= paragraph
        

