mixin terms-card(img_url="#")
  .terms-card   
    .terms-card__img-wrap
      img.terms-card__img(src=img_url, alt='Иконка') 
    .terms-card__text-wrap 
      h1.terms-card__title.
        test 
      p.terms-card__paragraph_md.
        test

